html, body{
   font-family:monospace;
   letter-spacing: 6px;
   color:#FFF;
   background:#393F4C;
}
body{
   max-width:500px;
   margin:20px auto;
}
h2{
   text-transform:uppercase;
   margin-bottom:2px;
}
canvas{
   display: block;
   background:#cdcdcd;
   border-radius:3px;
   box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
   border:1px solid rgba(0, 0, 0, 0.1);
   margin:auto;
   letter-spacing:2px;
   font-size:16px;
   user-select:none;
   -webkit-user-select:none;
}

button{
   text-decoration:none;
   letter-spacing:2px;
   background:#cdcdcd;
   color:#333;
   border-radius:2px;
   box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
   padding:10px 10px;
   text-transform:uppercase;
   font-size:11px;
   margin:20px 10px 0px 0px;
   display:inline-block;
   font-weight:600;
   position:relative;
   border:none;
   user-select:none;
   -webkit-user-select:none
}

button.active{
   text-decoration:underline;
}

button.active:after{
   content: '';
   position:absolute;
   width:100%;
   height:100%;
   background:rgba(0, 0, 0, 0.1);
   top:0px;
   left:0px;
}
a{
   display:block;
   text-decoration:none;
   color:#FFF;
   letter-spacing:4px;
   font-size:10px;
   text-align:right;
   margin-bottom:-10px;
   margin-top:2px;
   user-select:none;
   -webkit-user-select:none;
   margin-right:2px;
}
a:hover{
   text-decoration:underline;
}
a img{
   height:14px;
   top:4px;
   position:relative;
}

display, settings, settings setting{
   position:relative;
   display:block;
}

settings {
   position:absolute;
   bottom:0px;
   right:-2px;
   color:#dcd;
   letter-spacing:1px;
   background:rgba(0, 0, 0, 0.75);
   border-radius:3px 0px 3px 0px;
   font-size:8px;
   -webkit-user-select:none;
   user-select:none;
   opacity:0.25;
   transition:all 0.25s;
   transition-delay:0.5s;
   user-select:none;
}
settings:hover{
   opacity:1;
}
settings setting{
   text-align:right;
   padding:2px 0px 0px 6px;
}
settings setting:last-of-type{
   padding-bottom:5px;
}

settings setting value{
   min-width:40px;
   text-align:center;
}
settings label, settings input, settings value{
   display:inline-block;
   position:relative;
}
settings label {
   margin-right:6px;
}
settings input{
   top:5px;
   max-width:60px;
}
